<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">

         <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
         <title> <%= title %></title>
    </head>  
 
    <style>
      .instbl{
        color: darkgray;
        border-style: solid;
        background-origin: padding-box;
         border-left: 0px;
         border-right: 0px;

      }

      .details{
        background-color: #003441;
        max-width: 350px;
        border-style: solid;
        border-radius: 1.5pc;
        padding: 5%;
        color: white;
        height: 600px;
        padding-top: 2%;
        border-top: 5%;
        align-items: flex-start;
        justify-content: center;
        opacity: 70%;

        }

        
        .SignUp{
        width: 400px;
        height: auto;
        margin-left: auto;
        margin-right:auto ;
        align-items: center;
        justify-content: center;
        background: linear-gradient( to right, green ,blue,yellow);
        border-radius: 1.5pc;
        opacity: 90%;
        text-decoration: white;
        color: blanchedalmond;
        margin-top: 20px;
        }

        .SignUp2{
        width: 400px;
        height: auto;
        margin-left: auto;
        margin-right:auto ;
        align-items: center;
        justify-content: center;
        background: linear-gradient( to right, green ,blue,yellow);
        border-radius: 1.5pc;
        opacity: 90%;
        text-decoration: white;
        color: blanchedalmond;
        margin-top: 20px;
        }
      
      body{
        background-color:darkgray;
        background-image: url("https://c8.alamy.com/comp/WACCAB/bioggio-ticino-switzerland-28th-july-2019-picture-of-the-coop-logo-sign-over-a-store-entrance-the-coop-group-is-one-of-switzerlands-largest-re-WACCAB.jpg");
        background-size: cover; 
        text-decoration: white;
      }
      .insert{
        color: darkmagenta;
      }

      .but{
        color:lawngreen;
      }

      .wd{
        background-color: brown;
        border-radius: 50px;
      }
      .logst{
        background-color:magenta;
        margin-right: 50pc;
        margin-bottom: 100pc;
        border-radius: 20px;
      }
      
      .img{
        background-color:cyan;
        height: 600px;
        width: 70%;
        align-self: auto;
        float: left;
        border: 0;
      }

      section{
        background-color:cornflowerblue;
        height: 600px;
        width: 30%;
        align-self: auto;
        float: left;
        padding: 30px;
        border: 0;
      }

      .all{
       border-right-width: 0px;
      }

      .wlcm{
        background-color: #834367;
        height: 600px;
        border-radius: 5%;
        position: relative;
        padding: 10px;
        width: 70%;

      }
      .welcome{
        width: 400px;
        height: 200px;
        align-items: center;
        justify-content: center;
      }

      .cent{
        width: 400px;
        height: 600px;
        margin-left: auto;
        margin-right:auto ;
        align-items: center;
        justify-content: center;
      }

      
      .login{
        width: 400px;
        height: 550px;
        margin-left: auto;
        margin-right:auto ;
        align-items: center;
        justify-content: center;
        opacity: 70%;
        background-color: white;
        border-radius: 1.5pc;
        text-decoration: white;
        margin-top: 20px;
        
      }

  
      .tosign{
        background-color: cyan;
        height: 250px;
        border-radius: 5%;
        padding: 10px;
        position: relative;
      }


      .wlc{
        background-color: #f4a22fe5;
      }
      .lRq{
        width: 30%;
        background-color: #f89fff;
        padding: 10px;
        border-radius: 5%;
        opacity: 80%;
        justify-content: center;
        align-content: center;
      }

      .reqH{
        width: 30%;
      }

      .noop{
        background-color: brown;
      }

      td{
        color: white;
      }

      .action{
        background-color: teal;
        border-radius: 50px;
        width: 80px;
      }
    

    </style>
    <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
     
    <div class = "container-fluid">
