<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
         <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
         <title> <%= title %></title>
    </head>  
 
    <style>
      .instbl{
        color: darkgray;
        border-style: solid;
        background-color: grey;
        background-origin: padding-box;
         width: 600px;
         border-left: 0px;
         border-right: 0px;

      }

      .update{
        background-color:rgb(255, 0, 98) ; 
        width: 550px;
        border-style: solid;
        border-radius: 5%;
        border-left-width: 50px;
        border-bottom-width: 20px;
        }
      
      body{
        background-color:darkgray
      }
      .insert{
        color: darkmagenta;
      }

      .but{
        color:lawngreen;
      }

      .wd{
        background-color: brown;
        border-radius: 50px;
      }
      .logst{
        background-color:magenta;
        margin-right: 50pc;
        margin-bottom: 100pc;
        border-radius: 20px;
      }
      
      .img{
        background-color:cyan;
        height: 600px;
        width: 70%;
        align-self: auto;
        float: left;
        border: 0;
      }

      section{
        background-color:cornflowerblue;
        height: 600px;
        width: 30%;
        align-self: auto;
        float: left;
        padding: 30px;
        border: 0;
      }

      .all{
       border-right-width: 0px;
      }

      


    </style>
    <body>
    <div class = "container-fluid">
      
    
        

