<%- include ('coopH/first.ejs') -%>
<div class="navbar  navbar-expand-sm bg-light navbar-primary" style="border: 3px solid blue; border-radius: 2pc;">
  <ul class="navbar-nav">
      <li class="navbar-item">
        <a  class="nav-link active" href="/login">HOME</a>
    </li>
    
    <li class="navbar-item">
        <a  class="nav-link" href="/members">ACCOUNT</a>
    </li>
    
    <li class="navbar-item">
        <a  class="nav-link" href="/app">MEMBERS</a>
    </li>

    <li class="navbar-item">
      <a  class="nav-link" href="/update">UPDATE</a>
  </li>
    
    <li class="navbar-item">
        <a  class="nav-link" href="#">CONTACT</a>
    </li>

    <li class="navbar-item">
      <a  class="nav-link" href="/loanApp">LOAN</a>
  </li>
  </ul>
</div>

    <div class="login align-center mt-10"> 
            <div class="align-center justify-content text-center"><h4  style="color: white; background-color: black">Sign In</h4></div>
            
                <div class="align-center justify-content">
                  <a href="http://localhost:3009/auth/facebook"><h4 style="color: white; background-color: blueviolet; border: 2px solid black; border-radius: 1.5pc; margin-left: 40px; margin-right: 40px; align-items: center; justify-content: center;" class="text-center">Login via Facebook</h4></a>
                </div>
                <%- include ('coopH/msg.ejs') -%>
                <form action="/login" enctype="multipart/form-data" method="POST">
                  <div class="align-center form-group">
                        <div class="mb-3 mr-30">
                            <label for="email" style="margin-left:10px"><strong>Email</strong></label>
                            <input type="text" style="border:solid black 3px; width: 70%; margin-left:10px" class="form-control mr-30" class="form-label" id ="email" name="email">
                        </div>
                        <div class="mb-3 mr-30">
                            <label for="upass" style="margin-left:10px"><strong>Password:</strong></label>
                            <input type="password" style="border:solid black 3px; width: 70%; margin-left:10px"class="form-control mr-30" class="form-label" id ="upass" name="upass">
                        </div>
                        <button type="submit" class="btn btn-success mt-10" style="margin-left: 10px;">Login</button>
                  </div>
                    </form>
                    <div style="color: brown; background-color: #535599; width: 80%; margin:auto; border:solid black 3px; border-radius: 1.5pc; align-items: center; justify-content: center;">
                                <h5 style="color: red;" class="text-center"> Not a Member Yet? </h5> 
    
                     <div class="d-flex align-content-center justify-content-center"> <button class="btn-success" style="border-radius: 4px solid black; border-radius: 1.5pc;"   ><a  href="/signup">Sign Up</a></button> </div>
                    </div>   
    </div>           
</div>
</body>
</html>
