<%- include ('coopH/first.ejs') -%>
<div class="container-fluid lRq">
    <p class="text-center" style="color: white; align-items: center; justify-content: center;"><b>Loan Application Form</b></p>
    <div class="form-group"  >
        <%- include ('coopH/msg.ejs') -%>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="loanF text-white" >
                <div>
                    <label for="id">ID</label>
                    <input class="form-control" id="id" name="id" >
                    <label for="Name">Name</label>
                    <input class="form-control" id="Name" name="nm" >
                 </div>
                 <div>
                    <label for="lBal">Loan Bal</label>
                    <input class="form-control" id="lBal" name="lBal">
                    <label for="sav">Savings</label>
                    <input class="form-control" id="sav" name="Savings"  >
                </div>
                <div>
                    <label for="amt">Amount:</label>
                    <input class="form-control"  type="number" id="amt" name="lamt">
                 </div>
            
                <div>
                    <label for="gua1">Gurantor I ID:</label>
                    <input class="form-control" type="number" id="gua1" name="gua1">
                    <label for="gua2">GurantorII ID:</label>
                    <input class="form-control" type="number" id="gua2" name="gua2">
                </div>
                -----------------------------------------------------------
                -----------------------------------------------------------
                <div>
                    <label for="appr">Amount Approved:</label>
                    <input class="form-contorl" id="appr" name="appr" disabled> 
                </div>
                <button type="submit" class="btn btn-success">Request</button>
            </div>
        </form>
    </div>   
</div>
</div>
</body>
</html>