<%- include ('coopH/first.ejs') -%>
<div class="cent align-center justify-center">
<div class="wlc">
    <h1 style="color: green;"  >Welcome to coopWeb!!</h1>
</div>
        <div class="welcome">
            <div class="wlcm">
                <form action="" method="POST" enctype="multipart/form-data">
                    <input name="memid" id="memid" placeholder="Provide Your ID"><h6>Enter your membership id to continue........</h6></input>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
                <br>
                <div class="tosign">
                    <p>You are are not a member yet?<br>
                    and you want to be one?
                    </p>
                    <p>KIndly apply for an application <a href="/signup" target="_blank" onclick="" >here</a></p>
                </div>
        </div>
    
</div>
</div>
</body>
</html>